ZVideoPlayer-Swift/ZVideoPlayer-Swift.xcodeproj/project.xcworkspace/xcshareddata/ZVideoPlayer-Swift.xcscmblueprint
ZVideoPlayer-Swift/ZVideoPlayer-Swift.xcodeproj/project.xcworkspace/xcuserdata/rogue.xcuserdatad/UserInterfaceState.xcuserstate
ZVideoPlayer-Swift/ZVideoPlayer-Swift.xcodeproj/xcuserdata/rogue.xcuserdatad/xcschemes/xcschememanagement.plist
ZVideoPlayer-Swift/ZVideoPlayer-Swift.xcodeproj/xcuserdata/rogue.xcuserdatad/xcschemes/ZVideoPlayer-Swift.xcscheme
